#item{
				width:100px;
				height:100px;
				margin:0 auto;
				top:300px;
				position: relative;
				
			}
			ul{
				list-style-type: none;
			}
			body{
				background-color: url('http://www.springsource.org/sites/all/themes/s2org11/images/BG_SiteBillboardAndHeader.png');
				/* color: #69c; */
			/* 	font-family: Arial, "MS Trebu */chet", sans-serif; */
				/* font-weight: bold;
				font-size:1em; */
			}